<div class="mt-5">
    <h1 class="text-info">Confirm Email</h1>
    <p>Thank you for confirming the email. Please <a class="nav-link" asp-controller="Account" asp-action="Login">Click here to login again</a> </p>
</div>