<div class="mt-5">
    <h1 class="text-info">Reset Password</h1>
    <p>Your password has been reset  <a class="nav-link" asp-controller="Account" asp-action="Login">Click here to login again</a> </p>
</div>